<a href="https://colab.research.google.com/github/ginnaRenz/SistDist2/blob/master/SistDist_S1_L1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import psutil, os

In [0]:
def huella_de_memoria():
  '''Regresa la memoria usada por un proceso en Python'''
  mem = psutil.Process(os.getpid()).memory_info().rss
  return(mem / 1024**2)

In [0]:
antes = huella_de_memoria()

In [0]:
import numpy as np

N abajo es el número de valores de punto flotante que llena 1MB

In [0]:
N= (1024**2)//8

In [0]:
x = np.random.rand(50*N)

In [0]:
despues = huella_de_memoria()

In [16]:
print(antes)

114.66796875

In [17]:
print(despues)

164.84765625

In [18]:
print(despues-antes)

50.1796875

In [0]:
antes = huella_de_memoria()

In [20]:
x**2

array([0.4024396 , 0.62219624, 0.00222562, ..., 0.74589142, 0.1727573 ,
       0.17097103])

In [21]:
despues= huella_de_memoria()
print(despues-antes)

50.34765625

In [22]:
x.nbytes//(1024**2)

50

In [0]:
import pandas as pd

In [0]:
df = pd.DataFrame(x)
df

In [26]:
dfdf = pd.DataFrame(x)
df

0    50.0
dtype: float64

## Ejercicio
Reportar el uso de memoria de la siguiente estructura:
1. memoria del arreglo `celsius`
2. memoria total en MB del proceso _antes_ de realizar la operación en 3
3. convertir 'celsius' a `fahrenheit` `9/5celsius + 32`
4. indicar la diferencia de memoria _despues_ de la operación
5. cual es la memoria del arreglo `fahrenheit` (sin usar el método)
6- cual es la memoria del arreglo?

In [0]:
import pandas as pd

In [0]:
celsius = np.arange(-4.,0.,4/366000)

In [57]:
df = pd.DataFrame(celsius)
df

               0
0      -4.000000
1      -3.999989
2      -3.999978
3      -3.999967
4      -3.999956
5      -3.999945
6      -3.999934
7      -3.999923
8      -3.999913
9      -3.999902
10     -3.999891
11     -3.999880
12     -3.999869
13     -3.999858
14     -3.999847
15     -3.999836
16     -3.999825
17     -3.999814
18     -3.999803
19     -3.999792
20     -3.999781
21     -3.999770
22     -3.999760
23     -3.999749
24     -3.999738
25     -3.999727
26     -3.999716
27     -3.999705
28     -3.999694
29     -3.999683
...          ...
365970 -0.000328
365971 -0.000317
365972 -0.000306
365973 -0.000295
365974 -0.000284
365975 -0.000273
365976 -0.000262
365977 -0.000251
365978 -0.000240
365979 -0.000230
365980 -0.000219
365981 -0.000208
365982 -0.000197
365983 -0.000186
365984 -0.000175
365985 -0.000164
365986 -0.000153
365987 -0.000142
365988 -0.000131
365989 -0.000120
365990 -0.000109
365991 -0.000098
365992 -0.000087
365993 -0.000077
365994 -0.000066
365995 -0.000055
365996 -0.000044
365997 -0.000033
365998 -0.000022
365999 -0.000011

[366000 rows x 1 columns]

In [45]:
df.memory_usage(index = False)/(1024**2)

0    2.792358
dtype: float64

In [60]:
celsius.nbytes/(1024**2)

2.7923583984375

In [61]:
antes = huella_de_memoria()
fahrenheit = 32+celsius*9/5
despues = huella_de_memoria()
print(despues-antes)

2.83203125

repetir en entorno de ejecución local
tabla comparativa de la diferencia con la de google

In [62]:
fahrenheit.nbytes/(1024**2)

2.7923583984375